@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --color-general:#03363d;
	--color-verde:#68b06e;
	--fondo-verde:#10393b;
	--color-hero:#618a8d;
	--color-naranja:#ff8945;
	--hover-naranja:#f4722c;
	--hover-verde:#00272b;
	--color-titulos:#0b363d;
	--fondo-card:#f6f9f9;
}
body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: var(--color-general);
}

header{
	background-color: var(--fondo-verde);
	padding: 25px 0;
}


header img{
	width: 120px;
}

a{
	text-decoration: none;
}

#hero{
	background-image:url("../img/bg-img-01.png");
	background-position: top center;
	background-size: cover;
	background-color: var(--fondo-verde);
	padding: 5% 0;
}

#hero h1{
	color:#fff;
	font-size: 70px;
	font-weight: 700;
}

#hero h4{
	color: var(--color-hero);
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 30px;
}
	
.color-naranja{
	color: var(--color-naranja);
}

.btn-naranja{
	background-color: var(--color-naranja);
	color: #fff;
	padding:14px 30px;
	font-size:16px;
	font-weight: 600;
	letter-spacing: 1px;
}
.btn-naranja:hover{
	background-color: var(--hover-naranja);
	color:#fff;
}

.btn-verde{
	background-color: var(--fondo-verde);
	color: #fff;
	padding:14px 30px;
	font-size:16px;
	font-weight: 600;
	letter-spacing: 1px;
}

.btn-verde:hover{
	background-color: var(--hover-verde);
	color:#fff;
}

.section{
	padding: 60px 0;
}

.titulos{
	color: var(--color-titulos);
	font-weight: 800;
	font-size: 50px;
	margin-bottom: 30px;
}
.titulo span{
	color: var(--color-naranja);
}
.subtitulos{
	color: var(--color-verde);
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 30px;
	font-size: 16px;
}

.link-naranja{
	color: var(--color-naranja);
	font-weight: 500;
	border-bottom: 1px solid var(--color-naranja);
}

.link-naranja:hover {
	color: var(--color-naranja);
	opacity: 0.8;
}

#features .card{
	background-color: var(--fondo-card);
	padding: 20px;
	border: 0px;
	border-bottom: 2px solid #fac56b;
	margin-left: 20px;
	margin-right: 20px;
}

#features .card h3{
	font-size: 22px;
	font-weight: 800;
}

#performance img{
	text-align: left;
}


.cita{
	border-left: 2px solid var(--color-general);
	padding-left: 40px;
	margin-top: 40px;
}

q{
	padding-bottom: 40px;
}

.cita h5{
	font-size: 16px;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 0px;
}

#hero-title{
	background-image: url("../img/bg-img-01.png");
	background-size: cover;
	background-position: top center;
	background-color: var(--color-general);
	padding-top: 10%;
	padding-bottom: 20px;
}

#hero-title h3{
	color: var(--color-verde);
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;
}
	
#hero-title .titulos{
	color:#FFFFFF;
	font-size: 60px;
}
	
#form{
	padding: 30px 0;
}

#form h3{
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 35px;
}

#form li{
	margin-bottom: 10px;
}
	
#form .la-map-marker-alt{
	color:#FAC56B
}

#form .la-phone{
	color: #0085F2;
}
	
#form .la-envelope{
	color: #FF5C00
}
	
#form .form-info {
	margin-top: -50%;
	background-color: #fff;
	padding: 25px 30px;
	text-align: center;
	box-shadow: 0px 0px 30px 0px #ddd;
}	

#form input, 
#form textarea{
	padding: 15px;
	border-radius: 0;
	background-color: #fbfbfb;
	border:0;
}

.img-hover img{
	opacity: 0.6;
	transition: all 0.3s ease-in-out;
	filter: sepia(1);
}

.img-hover img:hover{
	opacity: 1;
	transition: all 0.3s ease-in-out;
	filter: sepia(0);
}

#contact-cards .card{
	background-color: var(--fondo-card);
	padding: 20px;
	border: 0px;
	border-bottom: 2px solid #fac56b;
}

#contact-cards .card h5{
	font-size: 20px;
	font-weight: 800;
	padding-top: 15px;
	text-transform: lowercase;
}


footer h3{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 25px;
}

#clients{
	padding-top: 60px;
	padding-bottom: 60px;
}
footer{
	padding: 80px 0;
	background-color: #fafafa;
}

footer a{
	color: var(--color-general);
	font-size: 14px;
}

footer a:hover{
	color: var(--color-naranja);
	font-size: 14px;
}

footer img{
	margin-bottom: 25px;
}

footer ul{
	font-size: 14px;
}

footer li{
	margin-bottom: 10px;
}

footer li:hover{
	color: var(--color-naranja);
}
	
#hero-carousel h5{
	color: var(--color-verde);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
}
	
#hero-carousel .titulo{
	color:#fff;
	font-size: 58px;
	font-weight: 800;
}	
	
#hero-carousel .btn-naranja{
	display: inline-block !important;
}




